
body {
    margin: 0px auto;
    font-family: Tahoma;
}

.secao {padding-top: 30px;
padding-bottom: 30px;
text-align: center;}

.paragrafo{margin: 10px auto;
width:980px;
text-align:justify;
font-size: 18px;
line-height: 28px;
}
.secao-topo{background-color: #afddfb;
margin: 0px auto;}

.imagem-topo{width: 150px;}

.paragrafo-topo{margin-top: 15px;
margin-bottom: 25px;
text-align: center;}
.link-topo{font-size: 18px;
color: #1d1d1d;
border-bottom: 2px solid #1d1d1d;
text-decoration:none;
margin: 0px 10px;}
.secao-banner{margin-top: 50px;
padding: 0px;
text-align: center;}
span{font-weight: bold;}
h1{color: #1d1d1d;
margin-bottom: 5px;
}
h2{color: #1c81c0;
margin-top: 0px;
font-weight: normal;
}
.imagem{width: 450px;
}
.texto-azul{color: #1c81c0;
}
.secao-servicos, .secao-contato {background-color: #1c81c0;
}
h3{color: #ffffff;
font-size: 28px;
line-height: 42px;
}
.paragrafo-servicos{color: #ffffff;
line-height: 42px;
font-size: 22px;
width: 700px;
text-align:center;
margin: 0px auto;}

.texto-amarelo{color: #fff81b;
}
.lista-servicos{margin: 40px auto;
width: 135px;}
.lista-item-servicos{color: #ffffff;
line-height: 42px;
text-align:left;
font-size: 22px;
}
.paragrafo-contato{color: #ffffff;
background-color: #1d1d1d;
padding: 15px;
margin-top: 30px;
margin-bottom: 30px;}
.lista-contato{margin: 40px auto;
width: 210px;
}
.item-lista-contato{margin-top: 15px;
text-align: center;
font-size:18px;}
.link-contato{background-color: #ffffff;
color:#1d80c1;
padding: 2px 5px;
border: radius 5px;}
